// main rules go here!

body {
    font: $main-font;
    font-size: $main-font-size;
    background-color: $main-bg-color;

    margin:0;
    border:0;
}

.lightbox {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
  /* eventually we'll hide it by default */
     display: none;
}

.show-lightbox {
display: block;
}



